<%- include('./layouts/index') -%>
<body>
    <div class="jumbotron">
        <h1>Vista de Productos</h1>
        <br>
        <%- include('./layouts/button_group') -%>
        <br>
        <br>
        <%- include('./components/form') -%>
    </div>
</body>