<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/productos/vista" class="btn btn-info">Lista de productos</a>
    <a href="/" class="btn btn-success">Ingresar productos</a>
</div>